@font-face {
  src: url("./fonts/MajorMonoDisplay-Regular.ttf");
  font-family: "Major";
}

body {
  height: 100vh;
  overflow: hidden;
   -webkit-app-region: drag;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  height: 100%;
  font-family: Major;
}